@import '~antd/dist/antd.css';

// usual
.flexWrapper {
  display: flex;
}
.flex1 {
  flex: 1;
}
.pageContent {
  padding: 5vw;
}
.m10 {
  margin: 10vw;
}
.pr1 {
  padding-right: 1vw;
}
.fz5 {
  font-size: 5vw;
}