@import '~antd/dist/antd.css';

// usual
.flexWrapper {
  display: flex;
}
.flex1 {
  flex: 1;
}
.pageContent {
  padding: 5vw;
}
.m10 {
  margin: 10vw;
}
.m5 {
  margin: 5vw;
}
.m2 {
  margin: 2vw;
}
.mr1 {
  margin-right: 1vw;
}
.pr1 {
  padding-right: 1vw;
}
.w2 {
  width: 2vw;
}
.fz5 {
  font-size: 5vw;
}
.strike {
  text-decoration: line-through;
}